@standard_width: 1168px;
@grid-gutter-width: 30px;

.fullCover(){
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.formalSquare(@width, @height){
  height: @height;
  width: @width;
  //  margin-top: ( - @height)/2;
  overflow: hidden;
}

.hoverPointer(){
  cursor: pointer;
}

html, body{
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body{
  min-width: 960px;//magic number
}

@media screen and (max-device-width: 480px){
  body{
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  body {
    width: 100%;
    height: 100%
  }
}

.standardWidth(){
  width: @standard_width;
  height: 100%;
  min-width: @standard_width;
  min-height: 100%;
  margin: auto;
  padding: 0;
}

.container-fixed(@gutter: @grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);
  &:extend(.clearfix all);
}

.vertical-middle(@tag) {
  text-align:         center!important;

  &:after {
    content:            '';
    display:            inline-block;
    width:              0;
    height:             100%;
    vertical-align:     middle;
  }

  @el:        ~"@{tag}";

  & > @{el} {
    display:            inline-block!important;
    vertical-align:     middle!important;
    text-align:         left;
  }
}

.centerInEmptyBox(@selfwidth, @selfheight){
  top: 50%;
  position: absolute;
  margin-top: -(@selfheight / 2);//pixel values can be calculated with units.
  //margin-left: auto;
  //margin-right: auto;
  left: 50%;
  margin-left: -(@selfwidth / 2);
}

.clear{
  clear: both;
}

.hilite{
  font-weight: bold;
}

.big{
  font-size: 30px;
}

a{
  color: #555;
  text-decoration: none;
}
a:link{
  color: #555;
  text-decoration: none;
}

a:visited{
  color: #555;
  text-decoration: none;
}

a:hover{
  color: #555;
  text-decoration: none;
}
a:active{
  color: #555;
  text-decoration: none;
}

u{
  text-decoration: none;
}

.lractions{
  display: none;
}

.active{
  display: block;
}

.bottom_btn_wrapper{
  width: 25%;
  text-align: center;
  height: 100%;
  float: left;
}

.bottom_btn{
  border: 1px gray solid;
  height: 100%;
  width: 120px;
  display: block;
  margin: auto;
  line-height: 30px;
  font-size: 16px;
}

.bottom_btn:hover{
  cursor: pointer;
}

.btn_wrapper{
  text-align: center;
  vertical-align: middle;

  .wrapped_btn{
    border: 1px gray solid;
    height: 100%;
    display: block;
    margin: auto;
    line-height: 100%;
  }

  .wrapped_btn:hover{
    cursor: pointer;
  }
}