@standard_width: 1168px;
@grid-gutter-width: 30px;
@user_popup_width: 190px;

.fullCover(){
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.roundedCorners(@radius:5px){
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.roundedCornersv2(@radiusv2){
  -moz-border-radius: @radiusv2;
  -webkit-border-radius: @radiusv2;
  border-radius: @radiusv2;
}

.formalSquare(@width, @height){
  height: @height;
  width: @width;
  //  margin-top: ( - @height)/2;
  overflow: hidden;
}

.hoverPointer(){
  cursor: pointer;
}

html, body{
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body{
  min-width: 960px;//magic number
}

@media screen and (max-device-width: 480px){
  body{
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  body {
    width: 100%;
    height: 100%
  }
}

.standardWidth(){
  width: @standard_width;
  height: 100%;
  min-width: @standard_width;
  min-height: 100%;
  margin: auto;
  padding: 0;
}

.container-fixed(@gutter: @grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);
  &:extend(.clearfix all);
}

.vertical-middle(@tag) {
  text-align:         center!important;

  &:after {
    content:            '';
    display:            inline-block;
    width:              0;
    height:             100%;
    vertical-align:     middle;
  }

  @el:        ~"@{tag}";

  & > @{el} {
    display:            inline-block!important;
    vertical-align:     middle!important;
    text-align:         left;
  }
}

.centerInEmptyBox(@selfwidth, @selfheight){
  top: 50%;
  position: absolute;
  margin-top: -(@selfheight / 2);//pixel values can be calculated with units.
  //margin-left: auto;
  //margin-right: auto;
  left: 50%;
  margin-left: -(@selfwidth / 2);
}

.clear{
  clear: both;
}

.hilite{
  font-weight: bold;
}

.big{
  font-size: 30px;
}

a{
  color: #555;
  text-decoration: none;
}
a:link{
  color: #555;
  text-decoration: none;
}

a:visited{
  color: #555;
  text-decoration: none;
}

a:hover{
  color: #555;
  text-decoration: none;
}
a:active{
  color: #555;
  text-decoration: none;
}

u{
  text-decoration: none;
}

div#page_wrapper{
  .fullCover();
}

.standard_width{
  .standardWidth();
}

#header_area{
  height: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
  overflow: visible;
}

#footer_area{
  height: 30px;
  margin: 24px auto 24px auto;
  top: 0;
  bottom: 0;
}

#content_area{
  position: relative;
  bottom: 0;
  top: 0;
  *zoom:1;

  &:before, &:after{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }

  &:after{
    clear: both;
  }
}

.minor_clear_divider{
  .clear();
  height: 20px;
}

#header_btn_wrapper{
  width: 120px;
  float: right;
  text-align: center;
  vertical-align: middle;
}

.lractions{
  display: none;
}

.displayed{
  display: block;
}

.bottom_btn_wrapper{
  width: 25%;
  text-align: center;
  height: 100%;
  float: left;
}

.bottom_btn{
  border: 1px gray solid;
  .roundedCorners(3px);
  height: 100%;
  width: 120px;
  display: block;
  margin: auto;
  line-height: 30px;
  font-size: 16px;
}

.bottom_btn:hover{
  cursor: pointer;
}

.btn_wrapper{
  text-align: center;
  vertical-align: middle;

  .wrapped_btn{
    border: 1px gray solid;
    .roundedCorners(3px);
    height: 100%;
    display: block;
    margin: auto;
    line-height: 100%;
  }

  .wrapped_btn:hover{
    cursor: pointer;
  }
}

#logo_area{
  width: 120px;
  height: 30px;
  float: left;
  text-align: center;
}

#user_center_area{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;

  #dropdownMenu1{
    width: 60px;
    height: 60px;
    .roundedCorners(30px);
  }

  #user_pm_badge{
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #user_popup{
    width: @user_popup_width;
    margin-left: -@user_popup_width - 20px;
    z-index: 100;
    position: absolute;
    top: 0;
  }

}